:root {
  --lightest-color: rgb(253, 253, 253);
  --accent-color: rgb(255, 137, 188);
  --field-lines: rgb(107, 181, 241);
  --field-lighter: rgb(152, 212, 248);
  --dark-font: rgb(34, 146, 237);
}

* {
  font-family: 'Playwrite IT Moderna', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  max-width: 100svw;
  height: 100svh;

  display: grid;
  justify-content: center;
  align-items: center;
}

.container {  
  display: grid;
  gap: 30px;  
}

.game-status {
  text-align: center;
  font-size: 20pt;  
  margin: 0;

  color: var(--dark-font);
}

.field {
  display: grid;
  grid-template-rows: repeat(3, 200px);
  grid-template-columns: repeat(3, 200px);
  gap: 3px;

  background-color: var(--field-lines);  
}

.field-buttons {  
  font-size: 60pt;
  border-style: none;
  background-color: var(--lightest-color);
  color: var(--accent-color);
}

.winner-buttons {
  background-color: var(--field-lighter);
  color: var(--lightest-color);
  font-size: 80pt;
}

.restart {
  font-size: 20pt;
  padding: 10pt;

  color: var(--lightest-color);
  background-color: var(--accent-color);
  
  border-radius: 10px;
  border: none;
}