* {
  font-family: 'Playwrite IT Moderna', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  max-width: 100svw;
  height: 100svh;

  display: grid;
  justify-content: center;
  align-items: center;
}

.container {  
  display: grid;
  gap: 30px;  
}

.game-status {
  text-align: center;
  font-size: 20pt;  
  margin: 0;

  color: rgb(34, 146, 237);
}

.field {
  display: grid;
  grid-template-rows: repeat(3, 200px);
  grid-template-columns: repeat(3, 200px);
  gap: 3px;

  background-color: rgb(107, 181, 241);
}

.field-buttons {  
  font-size: 60pt;
  border-style: none;
  background-color: white;
  color: rgb(255, 137, 188);
}

.winner-buttons {
  background-color: rgb(152, 212, 248);
  color: white;
  font-size: 80pt;
}

.restart {
  font-size: 20pt;
  padding: 10pt;

  color: rgb(255, 237, 250);
  background-color: rgb(255, 137, 188);
  
  border-radius: 10px;
  border: none;
}