body {
  width: 100svh;
  height: 100svh;

  display: grid;
  justify-content: center;
  align-items: center;
}

main {
  width: 400px;
}

.field-buttons {
  width: 100px;
  height: 100px;
  margin: 10px;
  font-size: 60pt;
  border-style: none;
}